.create-meeting-page {
  width: 100%;
  height: calc(100vh - var(--navbarHeight) - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.create-meeting-page img {
  width: 600px;
}
.create-meeting-page h3 {
  font-size: 26px;
  color: var(--primary);
} 
.create-meeting-page .app-button {
  margin-top: 40px;
}