.create-meeting-page {
  width: 100%;
  height: calc(100vh - var(--navbarHeight) - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.create-meeting-page img {
  width: 600px;
}
.create-meeting-page h3 {
  font-size: 26px;
  color: var(--primary);
} 
.create-meeting-page h5 {
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  color: #777;
  text-align: center;
}
.create-meeting-page > .app-button {
  margin-top: 40px;
  padding: 20px 40px;
  font-size: 16px;
}

.create-meeting-page .join-input {
  width: 600px;
  height: 60px;
  margin-top: 40px;
}
.create-meeting-page .join-input input {
  background: none;
  border: 2px solid #ccc;
  height: 100%;
  padding-left: 45px;
  font-size: 18px;
}
.create-meeting-page .join-input small {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 11px;
  color: #444;
  background: var(--bg);
  z-index: 10;
  padding: 2px 5px;
  pointer-events: none;
}
.create-meeting-page .join-input .icon-container {
  position: absolute;
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-meeting-page .join-input .icon-container i {
  font-size: 18px;
}
.create-meeting-page .btn-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-meeting-page .join-input .app-button {
  padding: 7px 12px;
}


@media (max-width: 700px) {
  .create-meeting-page .join-input {
    width: 95%;
  }
  .create-meeting-page > h5 br {
    display: none;
  }
}