.app-button {
  border-radius: 5px;
  user-select: none;
}
.app-button .left-icon {
  margin-right: 10px;
}
.app-button .right-icon {
  margin-left: 10px;
}

.app-button.primaryBtn {
  background: var(--primary);
  color: #fff;
}
.app-button.secondaryBtn {
  background: var(--secondary);
  color: #fff;
}
.app-button.ternaryBtn {
  background: var(--ternary);
}
.app-button.gradientBtn {
  background: var(--btnGradient);
}
.app-button.primaryBtn:hover,
.app-button.secondaryBtn:hover,
.app-button.ternaryBtn:hover {
  filter: brightness(110%);
}
.app-button.disabled {
  background: #e5e5e5;
  border: 1px solid #ddd;
  color: var(--graytext);
  pointer-events: none;
}