.video-call-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3000;
  background: #000;
  background-image: url('../../../assets/imgs/video-screen-bg.jpg');
  background-position: center;
  background-size: cover;
}
.video-call-screen .videos-grid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.video-call-screen .videos-grid .video-container {
  border: 2px solid #111;
}
.video-call-screen .videos-grid-1 .video-container {
  width: 100%;
  height: 100%;
  background: #111;
}
.video-call-screen .videos-grid-2 .video-container {
  width: 50%;
  height: 100%;
}
.video-call-screen .videos-grid-3 .video-container,
.video-call-screen .videos-grid-4 .video-container {
  width: 50%;
  height: 50%;
}
.video-call-screen .videos-grid video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.video-call-screen .video-container audio {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.video-call-screen .video-container.speaking {
  border: 2px solid var(--secondary);
}

.video-call-screen .meeting-bar-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.video-call-screen .meeting-bar {
  z-index: 10;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  border-radius: 10px;
  overflow: hidden;
}
.video-call-screen .meeting-bar > div {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.video-call-screen .mobile-show-tools {
  height: 50px;
  width: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  border-radius: 100%;
}
.video-call-screen .mobile-show-tools i {
  font-size: 24px;
  color: #fff;
}
.video-call-screen .mobile-show-tools i.fa-times {
  font-size: 28px;
}
.video-call-screen .meeting-bar > div.inactive {
  filter: brightness(90%);
  
}
.video-call-screen .meeting-bar > div:active {
  filter: brightness(90%);
  transform: scale(0.97)
}
.video-call-screen .meeting-bar > div:hover,
.video-call-screen .meeting-bar > div.active {
  background: rgba(255,255,255,0.06);
}
.video-call-screen .meeting-bar > div:hover i {
  color: #fff;
}
.video-call-screen .meeting-bar > div i {
  color: rgba(255,255,255,0.85);
  font-size: 20px;
  transition: all 0.2s;
}
.video-call-screen .meeting-bar > div i.fa-ellipsis-h {
  font-size: 30px;
}
.video-call-screen .meeting-bar > div.red {
  background: var(--danger);
}
.video-call-screen .meeting-bar > div i.fa-slash {
  position: absolute;
  font-size: 24px;
}
.video-call-screen .meeting-bar > div.active i.fa-record-vinyl {
  animation: record 1s linear infinite;
}
@keyframes record {
  0% {color: rgba(255,255,255,0.85)}
  50% {color: rgba(255,255,255,0.85)}
  80% {color: var(--danger)}
  100% {color: rgba(255,255,255,0.85)}
}

.video-call-screen .participant-actions {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  z-index: 110;
}
.video-call-screen .name-tag {
  background: rgba(0,0,0,0.8);
  padding: 7px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: default;
}
.video-call-screen .name-tag small {
  color: #eee;
  font-size: 12px;
  font-weight: 500;
}
.video-call-screen .participant-actions .icon-container {
  transition: all 0.5s;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
}
.video-call-screen .participant-actions .icon-container.speakingIcon {
  opacity: 0;
}
.video-call-screen .participant-actions .icon-container i {
  color: #fff;
  font-size: 18px;
}
.video-call-screen .participant-actions .icon-container.show {
  opacity: 1;
}


@media (max-width: 700px) {
  .video-call-screen .meeting-bar-container {
    right: 20px;
    left: auto;
    flex-direction: column;
    gap: 15px;
  }
  .video-call-screen .meeting-bar {
    flex-direction: column;
    height: auto;
  }
  .video-call-screen .meeting-bar.hide {
    display: none;
  }
  .video-call-screen .meeting-bar > div {
    height: 50px;
  }
  .video-call-screen .mobile-show-tools {
    display: flex;
    cursor: pointer;
  }
  .video-call-screen .videos-grid-2 .video-container {
    width: 100%;
    height: 50%;
  }
  .video-call-screen .videos-grid-3 .video-container {
    width: 100%;
    height: 33.33%
  }
  .video-call-screen .videos-grid-4 .video-container {
    width: 100%;
    height: 25%
  }
}